[Unit]
Description=HeatBot Service
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/home/pi/Desktop/HeatTelegramBot/
Restart=on-failure
RestartSec=5s
User=pi
ExecStart=/usr/bin/python3 /home/pi/Desktop/HeatTelegramBot/heatbot.py

[Install]
WantedBy=multi-user.target
